<?xml version="1.0"?>
<config>
    <modules>
        <NetworkInternational_Ngenius>
            <version>1.0.1</version>
        </NetworkInternational_Ngenius>
    </modules>
    <global>
        <models>
            <ngenius>
                <class>NetworkInternational_Ngenius_Model</class>
                <resourceModel>ngenius_resource</resourceModel>
            </ngenius>
            <ngenius_resource>
                <class>NetworkInternational_Ngenius_Model_Resource</class>
                <entities>
                    <standard>
                        <table>ngenius_networkinternational</table>
                    </standard>
                </entities>
            </ngenius_resource>
        </models>
        <resources>
            <ngenius_setup>
                <setup>
                    <module>NetworkInternational_Ngenius</module>
                </setup>
                <connection>
                    <use>standard_setup</use>
                </connection>
            </ngenius_setup>
        </resources>
        <helpers>
            <ngenius>
                <class>NetworkInternational_Ngenius_Helper</class>
            </ngenius>
        </helpers>
        <blocks>
            <ngenius>
                <class>NetworkInternational_Ngenius_Block</class>
            </ngenius>
        </blocks>
        <sales>
            <order>
                <statuses>
                    <ngenius_pending translate="label">
                        <label>n-genius Pending</label>
                    </ngenius_pending>
                    <ngenius_processing translate="label">
                        <label>n-genius Processing</label>
                    </ngenius_processing>
                    <ngenius_failed translate="label">
                        <label>n-genius Failed</label>
                    </ngenius_failed>
                    <ngenius_complete translate="label">
                        <label>n-genius Complete</label>
                    </ngenius_complete>
                    <ngenius_authorised translate="label">
                        <label>n-genius Authorised</label>
                    </ngenius_authorised>
                    <ngenius_fully_captured translate="label">
                        <label>n-genius Fully Captured</label>
                    </ngenius_fully_captured>
                    <ngenius_partially_captured translate="label">
                        <label>n-genius Partially Captured</label>
                    </ngenius_partially_captured>
                    <ngenius_fully_refunded translate="label">
                        <label>n-genius Fully Refunded</label>
                    </ngenius_fully_refunded>
                    <ngenius_partially_refunded translate="label">
                        <label>n-genius Partially Refunded</label>
                    </ngenius_partially_refunded>
                    <ngenius_auth_reversed translate="label">
                        <label>n-genius Auth Reversed</label>
                    </ngenius_auth_reversed>
                </statuses>
                <states>
                    <ngenius_state translate="label">
                        <statuses>
                            <ngenius_pending default="1"/>
                            <ngenius_processing default="0"/>
                            <ngenius_failed default="0"/>
                            <ngenius_complete default="0"/>
                            <ngenius_authorised default="0"/>
                            <ngenius_fully_captured default="0"/>
                            <ngenius_partially_captured default="0"/>
                            <ngenius_fully_refunded default="0"/>
                            <ngenius_partially_refunded default="0"/>
                            <ngenius_auth_reversed default="0"/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </ngenius_state>
                </states>
            </order>	
        </sales>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ngenius before="Mage_Adminhtml">NetworkInternational_Ngenius_Adminhtml</ngenius>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <sales_order_place_after>
                <observers>
                    <place_order_from_backend>
                        <class>NetworkInternational_Ngenius_Model_Observer</class>
                        <method>execute</method>
                        <type>singleton</type>
                    </place_order_from_backend>
                </observers>
            </sales_order_place_after>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <ngenius>
                <use>standard</use>
                <args>
                    <module>NetworkInternational_Ngenius</module>
                    <frontName>ngenius</frontName>
                </args>
            </ngenius>
        </routers>
    </frontend>
    <default>
        <payment>
            <ngeniusonline>
                <model>ngenius/core</model>
                <active>0</active>
                <order_status>ngenius_pending</order_status>
                <order_state>ngenius_state</order_state>
                <allowspecific>0</allowspecific>
                <title>n-genius Payment Gateway</title>
                <payment_action>authorize</payment_action>
                <uat_identity_url><![CDATA[https://identity-uat.ngenius-payments.com]]></uat_identity_url>
                <live_identity_url><![CDATA[https://identity.ngenius-payments.com]]></live_identity_url>
                <uat_api_url><![CDATA[https://api-gateway-uat.ngenius-payments.com]]></uat_api_url>
                <live_api_url><![CDATA[https://api-gateway.ngenius-payments.com]]></live_api_url>
                <token_endpoint><![CDATA[/auth/realms/%s/protocol/openid-connect/token]]></token_endpoint>
                <order_endpoint><![CDATA[/transactions/outlets/%s/orders]]></order_endpoint>
                <fetch_endpoint><![CDATA[/transactions/outlets/%s/orders/%s]]></fetch_endpoint>
                <capture_endpoint><![CDATA[/transactions/outlets/%s/orders/%s/payments/%s/captures]]></capture_endpoint>
                <void_auth_endpoint><![CDATA[/transactions/outlets/%s/orders/%s/payments/%s/cancel]]></void_auth_endpoint>
                <refund_endpoint><![CDATA[/transactions/outlets/%s/orders/%s/payments/%s/captures/%s/refund]]></refund_endpoint>
            </ngeniusonline>
        </payment>
    </default>
    <crontab>
        <jobs>
            <ngenius_order_update>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ngenius/core::updateOrder</model>
                </run>
            </ngenius_order_update>
        </jobs>
    </crontab>
</config>